/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
table, th, td
{
    border: 1px solid white;
}

table
{
    width: 50%;
    height: 200px;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 14px;

}
th
{
    
    background-color: #064E97;
    color: white;
    text-transform: uppercase;
}
th, td 
{
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
